.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
docker-compose*.yml
